.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}


.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.error-message {
  color: red;
  margin-top: 10px;
}