<div class="signup-container">
    <form (ngSubmit)="signup()" #signupForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" id="username" [(ngModel)]="username" name="username" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" [(ngModel)]="email" name="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Birthdate</mat-label>
        <input matInput [matDatepicker]="picker" id="birthdate" [(ngModel)]="birthdate" name="birthdate" required>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" id="password" [(ngModel)]="password" name="password" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </mat-form-field>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.form.valid || password !== confirmPassword">
          Sign Up
        </button>
      </div>

      <div *ngIf="password !== confirmPassword && signupForm.form.dirty" class="error-message">
        Passwords do not match
      </div>
    </form>
</div>
