@import '~bootstrap/dist/css/bootstrap.min.css';
.navbar-custom {
  background-color: red;
  width: 100%;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: white;
}

.navbar-custom .nav-link:hover,
.navbar-custom .navbar-brand:hover {
  color: lightgray;
}

.navbar-custom .nav-link {
  display: flex;
  align-items: center;
}

.navbar-custom .nav-link mat-icon {
  margin-right: 5px;
}


.carousel-inner img {
  width: 100%;
  height: 30%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
