.background-container{
  background-image: url(https://www.younggenerationshop.com/cdn/shop/products/Big-Class-Desk-Calendar-Calendar-Notes-Business-Office-Desk-Calendar-Pad_1024x1024.jpg?v=1620631627);
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  height: 100vh; /* Makes the container cover the entire viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-tabs-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.custom-tab-group {
  width: 100%;
  max-width: 600px;
}

.tab-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}


::ng-deep .custom-tab-group .mat-tab-label-active .mat-tab-label-content {
  color: red !important;
}

::ng-deep .custom-tab-group .mat-ink-bar {
  background-color: red !important;
  height: 2px;
  width: 100%;
}

::ng-deep .mat-ink-bar{
  background-color: red !important;
  height: 2px;
  width: 100%;
}

::ng-deep .custom-tab-group .mat-tab-label {
  width: 100%;
  display: flex;
  justify-content: center;
}

::ng-deep .custom-tab-group .mat-tab-label-content {
  width: 100%;
  display: flex;
  justify-content: center;
}